@import "syntax-variables";

/* General colors */
@syntax-text-color: #d6deeb;
@syntax-cursor-color: #7e57c2;
@syntax-selection-color: #1d3b53;
@syntax-selection-flash-color: #1d3b53;
@syntax-background-color: #011627;
@syntax-color-variable: #7fdbca;
@syntax-color-null: #ff5874;
@syntax-color-string: #fff;
@syntax-color-prop: #7fdbca;
@syntax-color-quoted: #ecc48d;
@syntax-color-support-component: #f78c6c;
@syntax-color-entity: @syntax-color-prop;
@syntax-color-attr: #addb67;
@syntax-color-function: #82aaff;

/* Guide colors */
@syntax-wrap-guide-color: rgba(255, 255, 255, 0.2);
@syntax-indent-guide-color: rgba(255, 255, 255, 0.2);
@syntax-invisible-character-color: rgba(255, 255, 255, 0.2);

/* For find and replace markers */
@syntax-result-marker-background: #2e3248;
@syntax-result-marker-background-selected: rgba(95, 126, 150, 0.79);
@syntax-result-marker-color: #1d3b53;
@syntax-result-marker-color-selected: #1d3b53;

/* Gutter colors */
@syntax-gutter-text-color: #fff;
@syntax-gutter-text-color-selected: #fff;
@syntax-gutter-background-color: #011627;
@syntax-gutter-background-color-selected: #1d3b53;

/* For git diff info. i.e. in the gutter */
@syntax-color-added: #9ccc65;
@syntax-color-modified: #e2b93d;
@syntax-color-removed: #ef5350;
